<launch>

    <node pkg="vision_targeting" type="vision_targeting.py" name="vision_targeting"  output="screen">
        <rosparam command="load" file="$(find vision_targeting)/config/vision_targeting.yaml"/>
        <param name="image_type" value="Image"/>
    </node>    

    <include file="$(find autonomous)/launch/autonomous.launch" />
    <!-- Checked -->
    <include file="$(find robot_pid)/launch/robot_pid.launch" />
    <!-- Checked -Fix vision targetting file from unity -->
    <!-- Proxy -->
    <include file="$(find proxy)/launch/proxy.launch" />
</launch>
